#container {
    width: 400px;
    height: 250px;
    border: 1px solid red;
    position: relative;
}

.bar {
    background: blue;
    position: absolute;
}
text {
    font-family: sans-serif;
    fill: #000;
    text-anchor: middle;
  }

/* body{
    background-color: #E6E6E6;
}
p{
    text-indent: 40px;
} */

/* .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
} */
/* .axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
} */